/* Variable definition for colors */
:root {
    --color-principal: #fffdf6;
    --color-secondary: #f9f3d6;

    --color-text-navbar: #000000;
    --color-navigation-bar: #fbf6e2;
    --color-marquee-background: #273337;
    --color-marquee-live: #f7051c;

    --color-background-button: #8fcc89;
    --color-text: #662220;

    --color-border: #a6a5a0;
    --color-background-crypto: #c9cdc3;
}

/* General Styles */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

/* Main Structure */
.layout {
    position: relative;
    min-width: 1290px;
    width: 100%;
    min-height: 10vh;
}

/* Layout Menu */
.layout__menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-navigation-bar);
}

.menu__list {
    display: flex;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
}

.menu__link--divider {
    height: 22px;
    border-left: 1px solid var(--color-text-navbar);
    border-right: 1px solid var(--color-text-navbar);
}

.menu__link {
    margin: 0 50px;
}

.menu__language {
    display: flex;
}

.language_item {
    padding: 0 15px;
    margin: 0 1px;
    text-transform: uppercase;
    background-color: #ded7b8;
}

.language__first {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: bold;
}

.language__second {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu__wallet {
    padding: 0 15px;
    border: 2px solid var(--color-text-navbar);
    border-radius: 15px;
}

.wallet__button {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Layout Marquee */
.layout__marquee {
    font-size: 1.6rem;
    width: 100%;
    height: 4vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-marquee-background);
}

.marquee__container--left {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.marquee__status {
    display: flex;
    color: var(--color-marquee-live);
}

.status__text {
    text-transform: uppercase;
    font-weight: bold;
}

.episode__text {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.place__text {
    color: white;
}

.time__text {
    color: white;
}

.marquee__container--right {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.users__text {
    color: white;
}

.users__text--online {
    font-weight: bold;
}

.marque__extra {
    background-color: var(--color-marquee-live);
    width: 130px;
    border-radius: 15px;
}

.extra__link {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

/* Layout Description*/
.layout__description {
    height: 100%;
    width: 100%;
    background-color: var(--color-principal);
}

.description__container {
    height: 100%;
    padding: 55px 18% 25px 18%;
}

.container__information {
    display: flex;
}

.information__left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}

.left__title {
    font-size: 1.8rem;
    margin: 10px 0;
}

.left__description {
    font-size: 1.6rem;
    font-weight: light;
    margin: 10px 0;
}

.left__button {
    width: 170px;
    margin: 10px 0;
    background-color: var(--color-background-button);
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

.information__right {
    width: 45%;
    margin: 0 auto;
}

.right__image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.container__function {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.function__top {
    margin-top: 100px;
    text-align: center;
}

.top__title {
    margin-bottom: 20px;
}

.function__bottom {
    display: flex;
    justify-content: space-around;
}

.bottom__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

.bottom__image {
    width: 100%;
    height: 100%;
}

.bottom__image--icon {
    margin: 0 auto;
}

.bottom__image--title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-text);
}

.function__button {
    text-align: center;
    margin: 0 auto;
}

.button__function {
    width: 250px;
    background-color: var(--color-background-button);
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

/* Information */
.layout__information {
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    padding: 55px 18% 25px 18%;
}

.information__container {
    display: flex;
    flex-direction: column;
}

.container__explanation {
    text-align: center;
    margin-bottom: 45px;
}

.explanation__title {
    margin-bottom: 25px;
}

.container__chocolate {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chocolate__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chocolate__image {
    margin: 0 auto;
}

.chocolate__title {
    font-size: 1.8rem;
    margin-top: 25px;
    color: var(--color-text);
    height: 65px;
}

.chocolate__image--display {
    width: 100%;
    height: 100%;
}

.container__community {
    margin-top: 55px;
    margin-bottom: 55px;
}

.community__button {
    width: 450px;
    background-color: var(--color-background-button);
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}

/* Layout contact */
.layout__contact {
    height: 100%;
    width: 100%;
    background-color: var(--color-principal);
    padding: 55px 18% 25px 18%;
}

.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__more {
    text-align: center;
    margin-bottom: 35px;
}

.more__title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 35px;
}

.more__description {
    font-size: 2rem;
}

.container__contact {
    display: flex;
    justify-content: space-evenly;
}

.contact__telegram {
    width: 45%;
    border: 2px solid var(--color-border);
    border-radius: 15px;
    padding: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telegram__image {
    margin: 25px auto;
}

.telegram__button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button__telegram {
    width: 350px;
    background-color: var(--color-background-button);
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 2.5rem;
    font-weight: bold;
}

.telegram__info {
    width: auto;
    margin-bottom: 25px;
}

.contact__email {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.email__container {
    display: flex;
    align-items: center;
    padding: 25px;

    border: 2px solid var(--color-border);
    border-radius: 15px;
    margin-bottom: 15px;
}

.email__image {
    margin-right: 25px;
}

.email__title {
    font-weight: bold;
    font-size: 1.8rem;
}

.email__email {
    font-weight: bold;
    font-size: 2rem;
}

.newsletter__container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    border: 2px solid var(--color-border);
    border-radius: 15px;
}

.newsletter__title {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.form__form {
    display: flex;
}

.form__email {
    border: none;
    background: #e0e1db;
    padding: 10px 10px;
    width: 85%;
}

.form__button {
    border: none;
    background-color: var(--color-border);
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter__confirm {
    margin-top: 15px;
}

.newsletter__confirm--link {
    text-decoration: underline;
}

/* Crypto Layout */
.layout__crypto {
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    padding: 55px 18% 25px 18%;
}

.container__ecosystem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ecosystem__top {
    margin-top: 25px;
    margin-bottom: 35px;
}

.ecosystem__title {
    text-align: center;
}

.ecosystem__middle {
    display: flex;
    justify-content: space-around;
}

.middle__left-cryto {
    width: 40%;
    text-align: center;
}

.left-crypto__information {
    background-color: var(--color-background-crypto);
    padding: 15px 25px;
    border-radius: 15px;
}

.left-cryto__title {
    margin-bottom: 10px;
}

.left-crypto__description {
    margin-bottom: 10px;
}

.left-crypto__image {
    margin: 0 auto;
}

.left-crypto__image--crypto {
    margin: 0 auto;
    margin-bottom: 10px;
}

.middle__right-crypto {
    width: 50%;
    text-align: center;
}

.right-crypto__top {
    margin-bottom: 25px;
}

.right-crypto__top,
.right-crypto__bottom {
    background-color: var(--color-background-crypto);
    border-radius: 15px;
    padding: 5px 10px;
}

.ecosystem__bottom {
    margin: 45px 0 25px 0;
}

.ecosystem__button {
    background-color: white;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 15px;
    font-weight: bold;
    height: auto;
}
