/* Information */
.layout__information {
    height: 100%;
    width: 100%;
    background-color: var(--color-secondary);
    padding: 55px 18% 25px 18%;
}

.information__container {
    display: flex;
    flex-direction: column;
}

.container__explanation {
    text-align: center;
    margin-bottom: 45px;
}

.explanation__title {
    margin-bottom: 25px;
}

.container__chocolate {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chocolate__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chocolate__image {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.chocolate__image--display {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.chocolate__title {
    font-size: 1.8rem;
    margin-top: 25px;
    color: var(--color-text);
    height: 65px;
}

.chocolate__image--display {
    width: 100%;
    height: 100%;
}

.container__community {
    margin-top: 55px;
    margin-bottom: 55px;
}

.community__button {
    width: 450px;
    background-color: var(--color-background-button);
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}

@media (max-width: 1100px) {
    .information__container {
        height: 100%;
        padding: 55px 0 25px 0;
    }

    .container__chocolate {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .chocolate__article {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .chocolate__title {
        margin-top: 15px;
        height: 35px;
    }

    .chocolate__description {
        margin-bottom: 20px;
    }
}

@media (max-width: 850px) {
    .information__container {
        height: 100%;
        padding: 55px 0 25px 0;
    }

    .container__community {
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .information__container {
        height: 100%;
        padding: 55px 0 25px 0;
    }

    .container__explanation {
        width: 100%;
    }

    .chocolate__title {
        margin-top: 15px;
        height: 65px;
    }

    .container__community {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .community__button {
        width: 250px;
    }
}
